.uppy-StatusBar-actions {
  justify-content: right;
}

.uppy-StatusBar-actions button {
    background-color: teal !important;
}

button.uppy-Dashboard-browse {
  color: teal !important;
}

.uppy-Dashboard-Item-previewInnerWrap {
  background-color: transparent !important;
}

.uppy-Dashboard-Item-previewImg {
  object-fit: contain !important;
}